@using AppMvc.Areas.Product.Service
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@inject CartService _cartService
@inject IAuthorizationService  authorization
@{
  var result = await authorization.AuthorizeAsync(this.User,"ViewManageMenu");
}

@if (result.Succeeded)
{  
    var cart = _cartService.GetCartItems();
    
    if (cart.Count >=0) {
        
        <div class="nav-item ">
            <a class="btn" title="Giỏ hàng" asp-route="cart" style="color: rgb(234, 230, 221);">
                <i class="fa-solid fa-cart-shopping" ></i>(@cart.Count)  
            </a>
          </div>
         
    }
}

