@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService  authorization
@{
  var result = await authorization.AuthorizeAsync(this.User,"ViewManageMenu");
}
@if (result.Succeeded)
{   
      <div class="dropdown">
        <button class="btn btn-manager dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
         Manager
        </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">Database</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-controller="Role" asp-area="Identity">Quản lý Role</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Identity">Quản lý User</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-controller="Contacts" asp-area="Contact">Quản lý Liên Hệ</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-controller="Category" asp-area="Blog">Quản lý chuyên mục Blog</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-controller="Post" asp-area="Blog">Quản lý bài Blog</a></li>
      </ul>
    </div>
}