@charset "UTF-8";
.app-navbar {
  background-color: rgb(134, 3, 108) !important;
}
.app-navbar .text-dark {
  color: rgb(255, 253, 255) !important;
}
.app-navbar .text-dark:hover {
  color: rgb(193, 193, 193) !important;
}
.app-navbar .navbar-brand {
  color: rgb(255, 255, 255) !important;
}
.app-navbar .navbar-brand:hover {
  color: rgb(199, 199, 199) !important;
}
.app-navbar .dropdown-toggle {
  border-color: #a562ad;
  color: #ffffff;
}

.login-text-color {
  color: rgb(255, 255, 255) !important;
}
.login-text-color:hover {
  color: rgb(171, 171, 171) !important;
}

.btn-manager {
  color: #370202 !important;
  background-color: #f1b500 !important;
}

.CategorySideBar ul, .CategorySideBar li {
  list-style: none;
  padding-left: 15px;
}
.CategorySideBar a:hover {
  color: #f1b500;
}
.CategorySideBar a.active {
  color: red;
}
.CategorySideBar > ul > li > a {
  font-weight: bold;
}
.CategorySideBar h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  border-bottom: 1px solid blue;
  padding-bottom: 20px;
  text-align: center;
}

.contact-firstcol {
  background-color: rgba(130, 70, 248, 0.897);
  color: rgb(229, 225, 222);
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.contact-firstcol h4 {
  line-height: 20px;
  font-weight: 400;
  margin-top: 20px;
}
.contact-firstcol img {
  max-width: 100px;
}

.ptlbr {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.formcontact {
  font-weight: 700;
}

.btn-primary {
  background-color: rgb(131, 111, 255) !important;
  border-color: rgb(131, 111, 255);
}

.bg-color-header {
  background-color: rgba(46, 210, 135, 0.82) !important;
  border-radius: 5px;
  border-color: rgba(210, 46, 90, 0.8235294118);
}

.bg-body {
  background-color: #ffffff !important;
  border-color: rgba(1, 1, 1, 0.8235294118);
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-contact {
  color: #fff !important;
  background-color: #04a2e6 !important;
  border-color: rgba(5, 91, 141, 0.831372549) !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  font-family: JetBrains Mono,Consolas, 'Courier New', monospace;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.DetailPost h2 {
  font-weight: 450;
}
.DetailPost .sapo {
  font-weight: 400;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.DetailPost img {
  max-width: 100%;
}

.app-footer {
  background-color: rgba(159, 142, 124, 0.642);
  color: rgb(43, 40, 40);
  text-align: center;
  text-decoration: none;
}

.Box-reAbsolute {
  height: 100px;
}

@media only screen and (min-width: 1400px) {
  /* Áp dụng max-width là 1400px */
  .container {
    max-width: 1400px;
    margin: 0 auto; /* Để căn giữa trang */
  }
}